h1 {
  color: red;
  top-margin: 25pt;
}
.tuade {
  color: tomato;
  font-family: Arial;
  top-margin: 20pt;
  font-size: 20pt;
  font-weight: bold;
}
  .noidung {
    color: black;
    top-margin: 6pt;
    font-size: 15pt;
    font-style: normal;
  }
.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header{
  flex: 15%;
  background-color:lightpink;
}
.menu{
  flex: 5%;
  background-color:hotpink;
}
.content{
  flex: 70%;
  background-color:white;
}
.content iframe{
  flex: 1;
  border: none;
}
.footer{
  flex: 10%;
  background-color:lightpink;
}

